.battle-container {
  background-image: url('/image/bg.webp');
  background-size: cover;
  color: white;
  text-shadow: 2px 2px 4px black;
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.battle-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 20px;
}

.battle-boss {
  width: 200px;
  margin: 0 auto;
  display: block;
}

.battle-enemy {
  width: 100px;
  display: block;
margin: 0 auto;
  animation: moveEnemy 4s linear infinite;
}

@keyframes moveEnemy {
  0% {
    transform: translateY(0px);
  }
  5% {
    transform: translateY(-5px);
  }
  10% {
    transform: translateY(-10px);
  }
  15% {
    transform: translateY(-5px);
  }
  20% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

.battle-question {
  margin-top: 2rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  width: 100%;
  font-size: xx-large;
}

.battle-question h1 {
  font-size: 4rem;
  font-family: 'DIN Alternate', sans-serif;
  font-weight: 700;
}

.battle-options {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.battle-button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}