.game-over-container {
  background-image: url('/image/bg.webp');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px black;
  padding: 40px;
  box-sizing: border-box;
  min-height: 100vh;
}

.game-over-heading {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.game-over-buttons {
  display: flex;
  gap: 1rem;
}

.game-over-button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.game-over-button--primary {
  background-color: #2196f3;
}

.game-over-button--secondary {
  background-color: #4caf50;
}